@font-face {
  font-family: "Roboto-Black";
  src: url("/fonts/Roboto-Black.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Regular";
  src: url("/fonts/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: normal; }

body {
  background-color: #b6ccff; }

.full-navbar {
  text-align: center; }
  @media (max-width: 767px) {
    .full-navbar {
      position: fixed;
      top: 100px;
      z-index: 100; } }
  .full-navbar .rainbow {
    left: 50%;
    max-width: 1175px; }
    @media (max-width: 767px) {
      .full-navbar .rainbow {
        width: 65%; } }
    @media (min-width: 768px) {
      .full-navbar .rainbow {
        width: 120vh; } }
    @media (min-width: 992px) {
      .full-navbar .rainbow {
        width: 120vh; } }
    @media (min-width: 1200px) {
      .full-navbar .rainbow {
        width: 125vh; } }
    @media (min-width: 1400px) {
      .full-navbar .rainbow {
        width: 120vh; } }
  .full-navbar .navbar-bygimotic {
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    height: 60px;
    z-index: 2;
    width: 76%;
    max-width: 1175px; }
    @media (max-width: 767px) {
      .full-navbar .navbar-bygimotic .my-navbar {
        width: auto; }
        .full-navbar .navbar-bygimotic .my-navbar .mobile-nav {
          background-color: #9063a6;
          margin-bottom: 14px;
          margin-top: 14px; }
          .full-navbar .navbar-bygimotic .my-navbar .mobile-nav .my-icon-bar {
            background-color: #ffffff; }
        .full-navbar .navbar-bygimotic .my-navbar .mobile-menu {
          background-color: gainsboro;
          border-radius: 10px;
          margin-top: 10px; } }
    @media (min-width: 768px) {
      .full-navbar .navbar-bygimotic .my-navbar {
        width: auto; } }
    .full-navbar .navbar-bygimotic .navbar-nav .my-menu {
      box-shadow: 0 0 19px 0 rgba(46, 40, 38, 0.3);
      border-radius: 10px;
      background-color: #ffffff;
      width: 200px;
      height: 281px;
      border: none; }
      .full-navbar .navbar-bygimotic .navbar-nav .my-menu a {
        font-family: "Roboto-Black";
        color: #9063a6;
        font-size: 0.688em;
        font-weight: 900;
        line-height: 20px;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 14px; }
      .full-navbar .navbar-bygimotic .navbar-nav .my-menu li {
        margin: 0; }
    .full-navbar .navbar-bygimotic .navbar-nav li {
      font-family: "Roboto-Black"; }
      @media (min-width: 992px) {
        .full-navbar .navbar-bygimotic .navbar-nav li {
          margin: 0 15px 0 15px; } }
      @media (min-width: 1200px) {
        .full-navbar .navbar-bygimotic .navbar-nav li {
          margin: 0 30px 0 30px; } }
      @media (min-width: 1400px) {
        .full-navbar .navbar-bygimotic .navbar-nav li {
          margin: 0 50px 0 50px; } }
      .full-navbar .navbar-bygimotic .navbar-nav li a {
        color: #9063a6;
        font-size: 0.844em;
        font-weight: 900;
        text-align: center;
        -webkit-transform: scaleX(1.0086);
        transform: scaleX(1.0086);
        text-transform: uppercase;
        line-height: 30px; }
      .full-navbar .navbar-bygimotic .navbar-nav li .orange-btn {
        color: #ff6a21; }
      .full-navbar .navbar-bygimotic .navbar-nav li .position-cn {
        padding-right: 33px; }

#first-screen {
  height: 100vh; }
  #first-screen .logo {
    left: 50%; }
    @media (max-width: 767px) {
      #first-screen .logo {
        position: absolute;
        width: 110px;
        top: 11vh;
        margin-left: -55px; } }
    @media (min-width: 768px) {
      #first-screen .logo {
        position: absolute;
        width: 190px;
        top: 13vh;
        margin-left: -95px; } }
    @media (min-width: 1400px) {
      #first-screen .logo {
        position: absolute;
        width: 270px;
        top: 10vh;
        margin-left: -135px; } }
    @media (max-width: 767px) {
      #first-screen .logo {
        z-index: 200; }
        #first-screen .logo img {
          width: 100%; } }
    @media (min-width: 768px) {
      #first-screen .logo {
        z-index: 3; }
        #first-screen .logo img {
          width: 190px; } }
    @media (min-width: 1400px) {
      #first-screen .logo img {
        width: 270px; } }
  #first-screen .houses {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%; }
  #first-screen .first-cloud {
    position: absolute;
    top: 22%;
    left: 2%;
    width: 6%; }
  #first-screen .second-cloud {
    position: absolute;
    top: 11%;
    left: 25%;
    width: 6%; }
  #first-screen .third-cloud {
    position: absolute;
    left: 53%;
    top: 7%; }
  #first-screen .fourth-cloud {
    position: absolute;
    right: 18%;
    top: 11%;
    width: 7.5%; }
  #first-screen .fifth-cloud {
    position: absolute;
    right: 3%;
    top: 22%;
    width: 6%; }

.content {
  margin-bottom: 70px; }
  @media (max-width: 767px) {
    .content {
      margin-top: -55vh; }
      .content .content-width {
        width: 76%; } }
  @media (min-width: 768px) {
    .content {
      margin-top: -90vh; }
      .content .content-width {
        width: 76%;
        max-width: 1175px; } }
  @media (min-width: 1400px) {
    .content .content-width {
      max-width: 1175px; } }
  .content .first-block {
    background-color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 1; }
    .content .first-block h1 {
      font-family: "Roboto-Black";
      color: #9063a6;
      font-size: 2.250em;
      font-weight: 900;
      line-height: 36px;
      text-align: center;
      margin-top: 70px; }
    .content .first-block p {
      font-family: "Roboto-Regular";
      color: #4f5e69;
      font-size: 1em;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      padding: 0 10% 0 10%;
      margin: 60px 0 70px 0; }
    .content .first-block .read-all-btn {
      background-color: #9063a6;
      width: 170px;
      height: 40px;
      border-radius: 50px;
      font-family: "Roboto-Black";
      color: #ffffff;
      font-size: 1.150em;
      font-weight: 900;
      line-height: 20px;
      text-align: center;
      -webkit-transform: scaleX(1.0001);
      transform: scaleX(1.0001);
      margin-bottom: 70px; }
  .content .second-block {
    background-color: #9063a6;
    z-index: 10; }
    .content .second-block h2 {
      font-family: "Roboto-Black";
      color: #ffffff;
      font-size: 2.250em;
      font-weight: 900;
      line-height: 36px;
      text-align: center;
      margin-top: 70px; }
    .content .second-block p {
      font-size: 1em;
      font-family: "Roboto-Regular";
      color: #ffffff;
      line-height: 1.5;
      font-weight: 400; }
      @media (max-width: 767px) {
        .content .second-block p {
          margin: 0 0 70px 0;
          text-align: center; } }
      @media (min-width: 768px) {
        .content .second-block p {
          margin: 60px 0 70px 0;
          text-align: left; } }
    .content .second-block .video {
      margin-top: 60px;
      border-radius: 10px;
      width: 100%;
      height: 23vh; }
      @media (max-width: 767px) {
        .content .second-block .video {
          margin-bottom: 70px; } }
    .content .second-block .read-all-btn {
      background-color: #ffffff;
      width: 170px;
      height: 40px;
      border-radius: 50px;
      font-family: "Roboto-Black";
      color: #9063a6;
      font-size: 1.150em;
      font-weight: 900;
      line-height: 20px;
      text-align: center;
      -webkit-transform: scaleX(1.0001);
      transform: scaleX(1.0001);
      margin-bottom: 70px; }
  .content .third-block {
    background-color: #ffffff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; }
    .content .third-block h2 {
      font-family: "Roboto-Black";
      color: #9063a6;
      font-size: 2.250em;
      font-weight: 900;
      line-height: 36px;
      text-align: center;
      margin-top: 70px; }
    .content .third-block p {
      font-family: "Roboto-Regular";
      color: #4f5e69;
      font-size: 1em;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      padding: 0 10% 0 10%;
      margin: 60px 0 70px 0; }
    .content .third-block .center-image {
      text-align: center; }
      .content .third-block .center-image img {
        margin-bottom: 70px; }
    .content .third-block .read-all-btn {
      background-color: #9063a6;
      width: 170px;
      height: 40px;
      border-radius: 50px;
      font-family: "Roboto-Black";
      color: #ffffff;
      font-size: 1.150em;
      font-weight: 900;
      line-height: 20px;
      text-align: center;
      -webkit-transform: scaleX(1.0001);
      transform: scaleX(1.0001);
      margin-bottom: 70px; }

footer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #9063a6; }
  footer p {
    font-family: "Roboto-Regular";
    color: #ffffff;
    font-size: 1em;
    line-height: 24px;
    font-weight: 300; }
    @media (max-width: 767px) {
      footer p {
        text-align: center;
        margin: 40px 0 0 0; } }
    @media (min-width: 768px) {
      footer p {
        text-align: left;
        margin: 40px 0 40px 40px; } }
  footer .right-ft {
    margin: 30px 0 10px 0; }
  footer span {
    font-family: "Roboto-Black";
    color: #ffffff;
    font-size: 1.125em;
    font-weight: 900;
    line-height: 24px; }

@media (max-width: 767px) {
  .right-block {
    text-align: center;
    margin-bottom: 40px; } }

@media (max-width: 767px) {
  .footer-width {
    width: 76%; } }

@media (min-width: 768px) {
  .footer-width {
    width: 76%;
    max-width: 1175px; } }

@media (min-width: 1400px) {
  .footer-width {
    width: 1175px; } }

.contact {
  background-color: #ffffff;
  border-radius: 15px;
  z-index: 1;
  padding: 0; }
  .contact h2 {
    font-family: "Roboto-Black";
    color: #9063a6;
    font-size: 2.250em;
    font-weight: 900;
    line-height: 36px;
    text-align: center;
    margin: 70px 0 75px 0;
    padding: 0 10%; }
  .contact .text {
    font-family: "Roboto-Regular";
    color: #4f5e69;
    font-size: 1em;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 90px; }
    @media (max-width: 767px) {
      .contact .text {
        text-align: center; } }
    @media (min-width: 768px) {
      .contact .text {
        text-align: left; } }
  .contact .info {
    font-family: "Roboto-Black";
    color: #4f5e69;
    font-size: 1em;
    font-weight: 900;
    line-height: 24px;
    margin-bottom: 90px; }
    @media (max-width: 767px) {
      .contact .info {
        text-align: center; } }
    @media (min-width: 768px) {
      .contact .info {
        text-align: left; } }
  .contact .write-btn {
    background-color: #9063a6;
    height: 40px;
    border-radius: 50px;
    margin-bottom: -15px;
    z-index: 2;
    left: 50%;
    margin-top: -20px;
    font-family: "Roboto-Black";
    color: #ffffff;
    font-size: 1.150em;
    font-weight: 900;
    line-height: 15px;
    text-align: center;
    -webkit-transform: scaleX(1.0001);
    transform: scaleX(1.0001);
    position: absolute;
    width: 175px;
    margin-left: -87.5px; }
  .contact .map-content {
    padding: 0;
    margin-bottom: 90px; }
    .contact .map-content .map {
      width: 100%;
      height: 60vh; }
    .contact .map-content img {
      width: 100%; }

.categories-article {
  background-color: #ffffff;
  border-radius: 15px;
  z-index: 1;
  padding: 0; }
  .categories-article h2 {
    font-family: "Roboto-Black";
    color: #9063a6;
    font-size: 2.250em;
    font-weight: 900;
    line-height: 36px;
    text-align: center;
    margin: 70px 0 75px 0;
    padding: 0 10%; }
  .categories-article .girl {
    padding: 0;
    margin-bottom: 70px; }
    .categories-article .girl img {
      width: 100%; }
  .categories-article .text-block p {
    font-family: "Roboto-Regular";
    color: #4f5e69;
    font-size: 1em;
    font-weight: 400;
    line-height: 30px;
    text-align: center; }
  .categories-article .text-block .text-content-2 {
    margin: 30px 0 70px 0; }

.categories {
  background-color: #ffffff;
  border-radius: 15px;
  z-index: 1;
  padding: 0; }
  .categories h2 {
    font-family: "Roboto-Black";
    color: #9063a6;
    font-size: 2.250em;
    font-weight: 900;
    line-height: 36px;
    text-align: center;
    margin: 70px 0 75px 0;
    padding: 0 10%; }
  .categories .image-click {
    padding: 0;
    margin-bottom: 70px; }
    .categories .image-click .padding {
      padding: 0; }
    .categories .image-click .background-1 {
      background-color: rgba(0, 0, 0, 0.9); }
      .categories .image-click .background-1 img {
        opacity: 0.4; }
    .categories .image-click .background-2 {
      background-color: rgba(0, 0, 0, 0.9); }
      .categories .image-click .background-2 img {
        opacity: 0.1; }
    @media (max-width: 767px) {
      .categories .image-click .centred {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150px;
        height: 30px;
        margin-left: -75px;
        margin-top: -15px; } }
    @media (min-width: 768px) {
      .categories .image-click .centred {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150px;
        height: 30px;
        margin-left: -75px;
        margin-top: -15px; } }
    .categories .image-click .centred p {
      font-family: "Roboto-Black";
      color: #ffffff;
      font-size: 1.125em;
      font-weight: 900;
      line-height: 24.056px;
      text-align: center;
      -webkit-transform: scaleX(1.0013);
      transform: scaleX(1.0013);
      margin: 0; }
    .categories .image-click .centred span {
      font-family: "Roboto-Regular";
      color: #ffffff;
      font-size: 0.75em;
      font-weight: 400;
      line-height: 10px;
      -webkit-transform: scaleY(1.0033);
      transform: scaleY(1.0033); }
    .categories .image-click .centred .font-sz {
      font-size: 30px; }
    .categories .image-click .centred hr {
      border: none;
      background-color: #9063a6;
      width: 70%;
      height: 2px; }
    .categories .image-click .centred .width {
      width: 40%;
      margin-top: 10px;
      margin-bottom: 10px; }
    .categories .image-click .stationery-block {
      text-align: center; }
      @media (max-width: 767px) {
        .categories .image-click .stationery-block {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 150px;
          height: 150px;
          margin-left: -75px;
          margin-top: -75px; } }
      @media (min-width: 768px) {
        .categories .image-click .stationery-block {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 150px;
          height: 150px;
          margin-left: -75px;
          margin-top: -75px; } }
      .categories .image-click .stationery-block .stationery-btn {
        background-color: #9063a6;
        width: 108px;
        height: 26px;
        border: none;
        border-radius: 50px;
        font-family: "Roboto-Black";
        color: #ffffff;
        font-size: 0.750em;
        font-weight: 900;
        line-height: 10px;
        text-align: center;
        -webkit-transform: scaleY(1.0231);
        transform: scaleY(1.0231);
        margin-top: 15px;
        display: block; }
    .categories .image-click img {
      width: 100%; }

/*# sourceMappingURL=app.css.map */
