@import "mixins";

@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto-Black.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

$font-R-black: "Roboto-Black";
$font-R-regular: "Roboto-Regular";
$bg-text-color-1: #ffffff;
$bg-text-color-2: #9063a6;
$text-color-1: #4f5e69;


body {
  background-color: rgb(182, 204, 255);
}

@import "preloader";
@import "popup";
@import "navbar";
@import "first-screen";
@import "landing";
@import "footer";
@import "contact";
@import "categories-article";
@import "categories";
