.categories {
  background-color: $bg-text-color-1;
  border-radius: 15px;
  z-index: 1;
  padding: 0;

  h2 {
    font-family: $font-R-black;
    color:  $bg-text-color-2;
    font-size: 2.250em;
    font-weight: 900;
    line-height: 36px;
    text-align: center;
    margin: 70px 0 75px 0;
    padding: 0 10%;
  }

  .image-click {
    padding: 0;
    margin-bottom: 70px;

    .padding {
      padding: 0;
    }

    .background-1 {
      background-color: rgba(0, 0, 0, 0.9);
      img {
        opacity: 0.4;
      }
    }

    .background-2 {
      background-color: rgba(0, 0, 0, 0.9);
      img {
        opacity: 0.1;
      }
    }

    .centred {
      @include text-position(150px, 30px, $bootstrap-xs);
      @include text-position(150px, 30px, $bootstrap-sm);

      p {
        font-family: $font-R-black;
        color:  $bg-text-color-1;
        font-size: 1.125em;
        font-weight: 900;
        line-height: 24.056px;
        text-align: center;
        transform: scaleX(1.0013);
        margin: 0;
      }

      span {
        font-family: $font-R-regular;
        color: $bg-text-color-1;
        font-size: 0.75em;
        font-weight: 400;
        line-height: 10px;
        transform: scaleY(1.0033);
      }

      .font-sz {
        font-size: 30px;
      }

      hr {
        border: none;
        background-color: $bg-text-color-2;
        width: 70%;
        height: 2px;
      }

      .width {
        width: 40%;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    .stationery-block {

      text-align: center;
      @include text-position(150px, 150px, $bootstrap-xs);
      @include text-position(150px, 150px, $bootstrap-sm);

      .stationery-btn {
        background-color:  $bg-text-color-2;
        width: 108px;
        height: 26px;
        border: none;
        border-radius: 50px;
        font-family: $font-R-black;
        color:  $bg-text-color-1;
        font-size: 0.750em;
        font-weight: 900;
        line-height: 10px;
        text-align: center;
        transform: scaleY(1.0231);
        margin-top: 15px;
        display: block;
      }
    }

    img {
      width: 100%;
    }

  }
}