.contact {
  background-color: $white;
  border-radius: 15px;
  z-index: 1;
  padding: 0;

  h2 {
    font-family: $font-R-black;
    color: #9063a6;
    font-size: 36px;
    font-weight: 900;
    line-height: 36px;
    text-align: center;
    margin: 70px 0 75px 0;
    padding: 0 10%;
  }

  .text {
    font-family: $font-R-regular;
    color: #4f5e69;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 90px;

    @media #{$bootstrap-xs} {
      text-align: center;
    }

    @media #{$bootstrap-sm} {
      text-align: left;
    }
  }

  .info {
    font-family: $font-R-black;
    color: #4f5e69;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    margin-bottom: 90px;

    @media #{$bootstrap-xs} {
      text-align: center;
    }

    @media #{$bootstrap-sm} {
      text-align: left;
    }
  }

  .write-btn {
    background-color: #9063a6;
    height: 40px;
    border-radius: 50px;
    margin-bottom: -15px;
    z-index: 2;
    left: 50%;
    margin-top: -20px;
    font-family: $font-R-black;
    color: #ffffff;
    font-size: 18.38px;
    font-weight: 900;
    line-height: 15px;
    text-align: center;
    transform: scaleX(1.0001);

    @include contact-write-btn(175px, $bootstrap-sm);
  }

  .map {
    padding: 0;
    margin-bottom: 90px;

    img {
      width: 100%;
    }
  }
}