#first-screen {
  height: 100vh;

  .logo {
    left: 50%;
    opacity: 0;

    @media #{$bootstrap-xs} {
      position: fixed;
      width: 110px;
      top: 11vh;
      margin-left: - (110px / 2);
    }

    @include content-position(190px, 13vh, $bootstrap-sm);
    @include content-position(270px, 10vh, $bootstrap-xl);

    @media #{$bootstrap-xs} {
      z-index: 200;
      img {
        width: 100%;
      }
    }

    @media #{$bootstrap-sm} {
      z-index: 3;
      img {
        width: 190px;
      }
    }
    @media #{$bootstrap-xl} {
      img {
        width: 270px;
      }
    }

  }

  .logo.affix {
    top:0;
    opacity: 0!important;
  }

  .houses {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
  }
  .first-cloud {
    position: absolute;
    top:19%;
    left:3%;
    width: 6%;
  }
  .second-cloud {
    position: absolute;
    top: 10%;
    left: 24%;
    width: 6%;
  }
  .third-cloud {
    position: absolute;
    left: 52.5%;
    top: 7%;
  }
  .fourth-cloud {
    position: absolute;
    right: 18%;
    top: 10%;
    width: 7.1%;
  }
  .fifth-cloud {
    position: absolute;
    right: 3%;
    top:19%;
    width: 6%;
  }
}
