#first-screen {
  height: 100vh;

  .logo {
    left: 50%;

    @include content-position(110px, 11vh, $bootstrap-xs);
    @include content-position(190px, 13vh, $bootstrap-sm);
    @include content-position(270px, 10vh, $bootstrap-xl);

    @media #{$bootstrap-xs} {
      z-index: 200;
      img {
        width: 100%;
      }
    }

    @media #{$bootstrap-sm} {
      z-index: 3;
      img {
        width: 190px;
      }
    }
    @media #{$bootstrap-xl} {
      img {
        width: 270px;
      }
    }

  }
  .houses {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
  }
  .first-cloud {
    position: absolute;
    top:22%;
    left:2%;
    width: 6%;
  }
  .second-cloud {
    position: absolute;
    top: 11%;
    left: 25%;
    width: 6%;
  }
  .third-cloud {
    position: absolute;
    left: 53%;
    top: 7%;
  }
  .fourth-cloud {
    position: absolute;
    right: 18%;
    top: 11%;
    width: 7.5%;
  }
  .fifth-cloud {
    position: absolute;
    right: 3%;
    top:22%;
    width: 6%;
  }
}