#first-screen {
  height: 100vh;

  .logo {
    left: 50%;

    @include content-position(110px, 11vh, $bootstrap-xs);
    @include content-position(190px, 13vh, $bootstrap-sm);
    @include content-position(270px, 10vh, $bootstrap-xl);

    @media #{$bootstrap-xs} {
      z-index: 200;
      img {
        width: 100%;
      }
    }

    @media #{$bootstrap-sm} {
      z-index: 3;
      img {
        width: 190px;
      }
    }
    @media #{$bootstrap-xl} {
      img {
        width: 270px;
      }
    }

  }
  .houses {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
  }
  .first-cloud {
    position: absolute;
    top:12%;
    left:-5%;
    width: 6%;
    opacity: 0;
  }
  .second-cloud {
    position: absolute;
    top: 6%;
    left: 15%;
    width: 6%;
    opacity: 0;
  }
  .third-cloud {
    position: absolute;
    left: 48%;
    top: 2%;
    opacity: 0;
  }
  .fourth-cloud {
    position: absolute;
    right: 10%;
    top: 6%;
    width: 7.5%;
    opacity: 0;
  }
  .fifth-cloud {
    position: absolute;
    right: -2%;
    top:17%;
    width: 6%;
    opacity: 0;
  }
}