footer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color:  #9063a6;

  p {
    font-family: $font-R-regular;
    color:  #ffffff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    @media #{$bootstrap-xs} {
      text-align: center;
      margin: 40px 0 0 0;
    }
    @media #{$bootstrap-sm} {
      text-align: left;
      margin: 40px 0 40px 40px;
    }

  }
  .right-ft {
    margin: 30px 0 10px 0;
  }
  span {
    font-family: $font-R-black;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
  }
}

@media #{$bootstrap-xs} {
  .right-block {
    text-align: center;
    margin-bottom: 40px;
  }
}
@media #{$bootstrap-xs} {
  .footer-width {
    width: 76%;
  }
}

@media #{$bootstrap-sm} {
  .footer-width {
    width: 76%;
    max-width: 1175px;
  }
}
@media #{$bootstrap-xl} {
  .footer-width {
    width: 1175px;
  }
}