.full-navbar {
  text-align: center;

  @media #{$bootstrap-xs} {
    position: fixed;
    top:100px;
    z-index: 100;

  }
  @media #{$bootstrap-sm} {

  }
  .rainbow {
    left: 50%;
    max-width: 1175px;
    @media #{$bootstrap-xs} {
      width: 65%;
    }
    @media #{$bootstrap-sm} {
      width: 120vh;
    }
    @media #{$bootstrap-md} {
      width: 120vh;
    }
    @media #{$bootstrap-lg} {
      width: 125vh;
    }
    @media #{$bootstrap-xl} {
      width: 120vh;
    }

  }

  .navbar-bygimotic {
    border-radius: 10px;
    border: none;
    background-color:  $bg-text-color-1;
    height: 60px;
    z-index: 2;
    width: 76%;
    max-width: 1175px;

    .my-navbar {

      @media #{$bootstrap-xs} {
        width: auto;
        .mobile-nav {
          background-color: $bg-text-color-2;
          margin-bottom: 14px;
          margin-top: 14px;
          .my-icon-bar {
            background-color: $bg-text-color-1;
          }
        }
        .mobile-menu {
          background-color: gainsboro;
          border-radius: 10px;
          margin-top: 10px;
        }
      }

      @media #{$bootstrap-sm} {
        width: auto;

      }
    }


    .navbar-nav {
      .my-menu {
        box-shadow: 0 0 19px 0 rgba(46, 40, 38, 0.3);
        border-radius: 10px;
        background-color:  $bg-text-color-1;
        width: 200px;
        height: 281px;
        border: none;

        a {
          font-family: $font-R-black;
          color:  $bg-text-color-2;
          font-size: 0.688em;
          font-weight: 900;
          line-height: 20px;
          text-align: left;
          text-transform: uppercase;
          margin-bottom: 14px;
        }

        li {
          margin: 0;
        }
      }
      li {
        @media #{$bootstrap-md} {
          margin: 0 15px 0 15px;
        }

        @media #{$bootstrap-lg} {
          margin: 0 30px 0 30px;
        }

        @media #{$bootstrap-xl} {
          margin: 0 50px 0 50px;
        }
        font-family: $font-R-black;
        a {
          color: $bg-text-color-2;
          font-size: 0.844em;
          font-weight: 900;
          text-align: center;
          transform: scaleX(1.0086);
          text-transform: uppercase;
          line-height: 30px;
        }
        .orange-btn {
          color: #ff6a21;
        }
        .position-cn {
          padding-right: 33px;
        }
      }
    }
  }
}