@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#page-preloader {

  .cssload-container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgb(182, 204, 255);
    z-index: 100500;

    .cssload-loader-inner {
      bottom: 0;
      height: 58px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 97px;
    }

    .cssload-loader-inner {
      bottom: 0;
      height: 158px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 299px;
    }

    .cssload-cssload-loader-line-wrap-wrap {
      animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
      -o-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
      -ms-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
      -webkit-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
      -moz-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
      box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 131px;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      transform-origin: 50% 100%;
      -o-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
      -webkit-transform-origin: 50% 100%;
      -moz-transform-origin: 50% 100%;
      width: 299px;
    }
    .cssload-loader-line-wrap {
      border: 11px solid transparent;
      border-radius: 100%;
      -o-border-radius: 100%;
      -ms-border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 299px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 299px;
    }
    .cssload-cssload-loader-line-wrap-wrap:nth-child(1) { animation-delay: -57.5ms;
      -o-animation-delay: -57.5ms;
      -ms-animation-delay: -57.5ms;
      -webkit-animation-delay: -57.5ms;
      -moz-animation-delay: -57.5ms; }
    .cssload-cssload-loader-line-wrap-wrap:nth-child(2) { animation-delay: -115ms;
      -o-animation-delay: -115ms;
      -ms-animation-delay: -115ms;
      -webkit-animation-delay: -115ms;
      -moz-animation-delay: -115ms; }
    .cssload-cssload-loader-line-wrap-wrap:nth-child(3) { animation-delay: -172.5ms;
      -o-animation-delay: -172.5ms;
      -ms-animation-delay: -172.5ms;
      -webkit-animation-delay: -172.5ms;
      -moz-animation-delay: -172.5ms; }
    .cssload-cssload-loader-line-wrap-wrap:nth-child(4) { animation-delay: -230ms;
      -o-animation-delay: -230ms;
      -ms-animation-delay: -230ms;
      -webkit-animation-delay: -230ms;
      -moz-animation-delay: -230ms; }
    .cssload-cssload-loader-line-wrap-wrap:nth-child(5) { animation-delay: -287.5ms;
      -o-animation-delay: -287.5ms;
      -ms-animation-delay: -287.5ms;
      -webkit-animation-delay: -287.5ms;
      -moz-animation-delay: -287.5ms; }
    .cssload-cssload-loader-line-wrap-wrap:nth-child(6) { animation-delay: -345ms;
      -o-animation-delay: -345ms;
      -ms-animation-delay: -345ms;
      -webkit-animation-delay: -345ms;
      -moz-animation-delay: -345ms; }
    .cssload-cssload-loader-line-wrap-wrap:nth-child(7) { animation-delay: -402.5ms;
      -o-animation-delay: -402.5ms;
      -ms-animation-delay: -402.5ms;
      -webkit-animation-delay: -402.5ms;
      -moz-animation-delay: -402.5ms; }

    .cssload-cssload-loader-line-wrap-wrap:nth-child(1) .cssload-loader-line-wrap {
      border-color: rgb(254,91,12);
      height: 272px;
      width: 272px;
      top: 0;
    }

    .cssload-cssload-loader-line-wrap-wrap:nth-child(2) .cssload-loader-line-wrap {
      border-color: rgb(251,119,0);
      height: 236px;
      width: 236px;
      top: 18px;
    }
    .cssload-cssload-loader-line-wrap-wrap:nth-child(3) .cssload-loader-line-wrap {
      border-color: rgb(238,224,10);
      height: 200px;
      width: 200px;
      top: 37px;
    }
    .cssload-cssload-loader-line-wrap-wrap:nth-child(4) .cssload-loader-line-wrap {
      border-color: rgb(1,215,1);
      height: 163px;
      width: 163px;
      top: 55px;
    }
    .cssload-cssload-loader-line-wrap-wrap:nth-child(5) .cssload-loader-line-wrap {
      border-color: rgb(26,189,251);
      height: 126px;
      width: 126px;
      top: 74px;
    }
    .cssload-cssload-loader-line-wrap-wrap:nth-child(6) .cssload-loader-line-wrap {
      border-color: rgb(40,109,208);
      height: 89px;
      width: 89px;
      top: 92px;
    }
    .cssload-cssload-loader-line-wrap-wrap:nth-child(7) .cssload-loader-line-wrap {
      border-color: rgb(214,64,207);
      height: 52px;
      width: 52px;
      top: 111px;
    }

    @keyframes cssload-spin {
      0%, 15% {
        transform: rotate(0);
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @-o-keyframes cssload-spin {
      0%, 15% {
        -o-transform: rotate(0);
        transform: rotate(0);
      }
      100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @-ms-keyframes cssload-spin {
      0%, 15% {
        -ms-transform: rotate(0);
        transform: rotate(0);
      }
      100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @-webkit-keyframes cssload-spin {
      0%, 15% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @-moz-keyframes cssload-spin {
      0%, 15% {
        -moz-transform: rotate(0);
        transform: rotate(0);
      }
      100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }
}